<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.mapper.SysRoleMapper">

	<resultMap type="SysRole" id="SysRoleResult">
		<id     property="roleId"             column="role_id"               />
		<result property="roleName"           column="role_name"             />
		<result property="roleKey"            column="role_key"              />
		<result property="roleSort"           column="role_sort"             />
		<result property="dataScope"          column="data_scope"            />
		<result property="menuCheckStrictly"  column="menu_check_strictly"   />
		<result property="deptCheckStrictly"  column="dept_check_strictly"   />
		<result property="status"             column="status"                />
		<result property="delFlag"            column="del_flag"              />
		<result property="createBy"           column="create_by"             />
		<result property="createTime"         column="create_time"           />
		<result property="updateBy"           column="update_by"             />
		<result property="updateTime"         column="update_time"           />
		<result property="remark"             column="remark"                />
	</resultMap>

	<sql id="case">
		case (#{langUser})
	</sql>

	<sql id="selectRoleVo">
	    select distinct r.role_id,
		<include refid="case"/>
		when "en" then (select role_name_en from sys_role where role_id = r.role_id)
		when "zh" then (select role_name from sys_role where role_id = r.role_id)
		when "id" then (select role_name_id from sys_role  where role_id = r.role_id)
		end as role_name,
		r.role_key, r.role_sort, r.data_scope, r.menu_check_strictly, r.dept_check_strictly, r.status, r.del_flag, r.create_time, r.remark
        from sys_role r
	        left join sys_user_role ur on ur.role_id = r.role_id
	        left join sys_user u on u.user_id = ur.user_id
	        left join sys_dept d on u.dept_id = d.dept_id
    </sql>
    
    <select id="selectRoleList" parameterType="SysRole" resultMap="SysRoleResult">
		<include refid="selectRoleVo"/>
		where r.del_flag = '0'
		<if test="r.roleId != null and r.roleId != 0">
			AND r.role_id = #{r.roleId}
		</if>
		<if test="r.roleName != null and r.roleName != ''">
			AND r.role_name like concat('%', #{r.roleName}, '%')
			OR r.role_name_en like concat('%', #{r.roleName}, '%')
			OR r.role_name_id like concat('%', #{r.roleName}, '%')
		</if>
		<if test="r.status != null and r.status != ''">
			AND r.status = #{r.status}
		</if>
		<if test="r.roleKey != null and r.roleKey != ''">
			AND r.role_key like concat('%', #{r.roleKey}, '%')
		</if>
		<if test="r.params.beginTime != null and r.params.beginTime != ''"><!-- 开始时间检索 -->
			and date_format(r.create_time,'%y%m%d') &gt;= date_format(#{r.params.beginTime},'%y%m%d')
		</if>
		<if test="r.params.endTime != null and r.params.endTime != ''"><!-- 结束时间检索 -->
			and date_format(r.create_time,'%y%m%d') &lt;= date_format(#{r.params.endTime},'%y%m%d')
		</if>
		<!-- 数据范围过滤 -->
		${r.params.dataScope}
		order by r.role_sort
	</select>
    
	<select id="selectRolePermissionByUserId" resultMap="SysRoleResult">
		<include refid="selectRoleVo"/>
		WHERE r.del_flag = '0' and ur.user_id = #{userId}
	</select>
	
	<select id="selectRoleAll" resultMap="SysRoleResult">
		<include refid="selectRoleVo"/>
	</select>
	
	<select id="selectRoleListByUserId" parameterType="Long" resultType="Long">
		select r.role_id
        from sys_role r
	        left join sys_user_role ur on ur.role_id = r.role_id
	        left join sys_user u on u.user_id = ur.user_id
	    where u.user_id = #{userId}
	</select>
	
	<select id="selectRoleById" resultMap="SysRoleResult">
		<include refid="selectRoleVo"/>
		where r.role_id = #{roleId}
	</select>
	
	<select id="selectRolesByUserName" resultMap="SysRoleResult">
		<include refid="selectRoleVo"/>
		WHERE r.del_flag = '0' and u.user_name = #{userName}
	</select>
	
	<select id="checkRoleNameUnique" parameterType="String" resultMap="SysRoleResult">
		select distinct r.role_id, r.role_name, r.role_name_en, r.role_name_id, r.role_key, r.role_sort, r.data_scope, r.menu_check_strictly, r.dept_check_strictly, r.status, r.del_flag, r.create_time, r.remark
		from sys_role r
		left join sys_user_role ur on ur.role_id = r.role_id
		left join sys_user u on u.user_id = ur.user_id
		left join sys_dept d on u.dept_id = d.dept_id
		where r.role_name=#{roleName} or r.role_name_en=#{roleName} or r.role_name_id=#{roleName} limit 1
	</select>
	
	<select id="checkRoleKeyUnique" resultMap="SysRoleResult">
		<include refid="selectRoleVo"/>
		 where r.role_key=#{roleKey} limit 1
	</select>
	
 	<insert id="insertRole" parameterType="SysRole" useGeneratedKeys="true" keyProperty="role.roleId">
 		insert into sys_role(
 			<if test="role.roleId != null and role.roleId != 0">role_id,</if>
 			<if test="role.roleName != null and role.roleName != ''">role_name,</if>
			<if test="role.roleName != null and role.roleName != ''">role_name_en,</if>
			<if test="role.roleName != null and role.roleName != ''">role_name_id,</if>
 			<if test="role.roleKey != null and role.roleKey != ''">role_key,</if>
 			<if test="role.roleSort != null and role.roleSort != ''">role_sort,</if>
 			<if test="role.dataScope != null and role.dataScope != ''">data_scope,</if>
 			<if test="role.menuCheckStrictly != null">menu_check_strictly,</if>
 			<if test="role.deptCheckStrictly != null">dept_check_strictly,</if>
 			<if test="role.status != null and role.status != ''">status,</if>
 			<if test="role.remark != null and role.remark != ''">remark,</if>
 			<if test="role.createBy != null and role.createBy != ''">create_by,</if>
 			create_time
 		)values(
 			<if test="role.roleId != null and role.roleId != 0">#{role.roleId},</if>
			<foreach item="roleNameCat" collection="roleNameCat" separator="," close="," >
				<if test="role.roleName != null and role.roleName != ''">#{roleNameCat}</if>
			</foreach>
 			<if test="role.roleKey != null and role.roleKey != ''">#{role.roleKey},</if>
 			<if test="role.roleSort != null and role.roleSort != ''">#{role.roleSort},</if>
 			<if test="role.dataScope != null and role.dataScope != ''">#{role.dataScope},</if>
 			<if test="role.menuCheckStrictly != null">#{role.menuCheckStrictly},</if>
 			<if test="role.deptCheckStrictly != null">#{role.deptCheckStrictly},</if>
 			<if test="role.status != null and role.status != ''">#{role.status},</if>
 			<if test="role.remark != null and role.remark != ''">#{role.remark},</if>
 			<if test="role.createBy != null and role.createBy != ''">#{role.createBy},</if>
 			sysdate()
 		)
	</insert>
	
	<update id="updateRole" parameterType="SysRole">
 		update sys_role
 		<set>
			<if test="r.roleName != null and r.roleName != ''">
				role_name_en = <include refid="case"/>
				when "en" then #{r.roleName}
				else role_name_en
				end,
				role_name = <include refid="case"/>
				when "zh" then #{r.roleName}
				else role_name
				end,
				role_name_id = <include refid="case"/>
				when "id" then #{r.roleName}
				else role_name_id
				end,
			</if>
 			<if test="r.roleKey != null and r.roleKey != ''">role_key = #{r.roleKey},</if>
 			<if test="r.roleSort != null and r.roleSort != ''">role_sort = #{r.roleSort},</if>
 			<if test="r.dataScope != null and r.dataScope != ''">data_scope = #{r.dataScope},</if>
 			<if test="r.menuCheckStrictly != null">menu_check_strictly = #{r.menuCheckStrictly},</if>
 			<if test="r.deptCheckStrictly != null">dept_check_strictly = #{r.deptCheckStrictly},</if>
 			<if test="r.status != null and r.status != ''">status = #{r.status},</if>
 			<if test="r.remark != null">remark = #{r.remark},</if>
 			<if test="r.updateBy != null and r.updateBy != ''">update_by = #{r.updateBy},</if>
 			update_time = sysdate()
 		</set>
 		where role_id = #{r.roleId}
	</update>
	
	<delete id="deleteRoleById" parameterType="Long">
 		update sys_role set del_flag = '2' where role_id = #{roleId}
 	</delete>
 	
 	<delete id="deleteRoleByIds" parameterType="Long">
 	    update sys_role set del_flag = '2' where role_id in
 		<foreach collection="array" item="roleId" open="(" separator="," close=")">
 			#{roleId}
        </foreach> 
 	</delete>
 	
</mapper> 