${ClassName} : {
 #foreach ($column in $columns)
 #set($parentheseIndex=$column.columnCommentEn.indexOf("（"))
 #if($parentheseIndex != -1)
 #set($comment=$column.columnCommentEn.substring(0, $parentheseIndex))
 #else
 #set($comment=$column.columnCommentEn)
 #end
    ${column.javaField} : ${comment}
    #if($column.htmlType == "input")
        ${column.javaField}Placeholder : ${comment}
    #elseif($column.htmlType == "datetime")
        ${column.javaField}Placeholder : ${comment}
    #else
        ${column.javaField}Placeholder : ${comment}
    #end
 #end

 }