${businessName} : {
${ClassName} : {
 #foreach ($column in $columns)
 #set($parentheseIndex=$column.columnComment.indexOf("（"))
 #if($parentheseIndex != -1)
 #set($comment=$column.columnComment.substring(0, $parentheseIndex))
 #else
 #set($comment=$column.columnComment)
 #end
    ${column.javaField} : ${comment}
    #if($column.htmlType == "input")
        ${column.javaField}Placeholder : 请输入${comment}
    #elseif($column.htmlType == "datetime")
        ${column.javaField}Placeholder : 选择${comment}
    #else
        ${column.javaField}Placeholder : 请选择${comment}
    #end
 #end
 }
}